<div class="container">
  <h1>  <%= @restaurant.name %> </h1>
  <p> <em><%= @restaurant.category.capitalize %></em> </p>
  <p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %> </p>
  <p><i class="fas fa-phone"></i> <%= @restaurant.phone_number  %></p>
  <hr>
  <h3>Reviews for <%= @restaurant.name %></h3>
  <div class="review_boxes">
    <ul class="list-style-none">
      <% @restaurant.reviews.each do |rev| %>
        <li>
          <% rev.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          - <%= rev.content %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Back to the list", restaurants_path %>
</div>
